.header {
  background-color: #FF654F;
  color: white;
  text-align: center;
}

.welcome {
  color: #FF654F;
  font-weight: bold;
}

#nav {
  background-color: #F8F6F8;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

#checkout {
  align-self: flex-end;
}

/*.infoHeader {
  display: flex;
  flex-direction: row;
}*/

.teaPic {
  max-width: 250px;
}

.teaInfo {
  display: flex;
  flex-direction: column;
}

.teaName {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 30px;
}
